@import 'tailwindcss';

/* stylelint-disable-next-line at-rule-no-unknown */
@theme inline {
  --font-albert: var(--font-albert);
  --font-mont: var(--font-mont);
  --border-divider: #dddddd
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-albert);
}
h1, h2, h3, h4, h5, h6{
  font-family: var(--font-mont);
}